/* font import */
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* common part */
a {
    text-decoration: none;
    color: black;
}

/* header part */
.header {
    width: 70%;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 1%;
}

.header-login {
    display: block;
    text-align: right;
}

.user-login-box {
    text-align: center;
    padding-right: 10px;
}

h1 {
    font-size: 60px;
    font-family: 'Gugi', cursive;
    display: block;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: 'Gugi', cursive;
    display: block;
    text-align: center;
}

.header-searching {
    text-align: center;
}

.searching-bar {
    height: 25px;
    width: 200px;
    margin: 0 15px 15px 30px;
}

.searching-bt {
    height: 30px;
    vertical-align: middle;
}

.header-sorting {
    text-align: right;
    margin-right: 100px;
}

/* mycontent part */

.my_content {
    width: 644px;
    margin: 0 auto;
    margin-top: 200px;
    cursor: pointer;
}

#my_rating {
    display: inline-block;
    border: 1px solid green;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 4px;
}

#my_report {
    display: inline-block;
    border: 1px solid red;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 4px;
}

#my_memo {
    display: inline-block;
    border: 1px solid blue;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 4px;
}

.my_content h2 {
    font-size: 30px;
}

/* my_rating.html */

#booklist {
    float: left;
    margin: 2% 0% 2% 4%;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

#booklist > img {
    margin-bottom: 4%;
}

#booklist > p {
    margin-top: 1%;
}

/* my_memo.html */

.card {
    width: 200px;
    height: 250px;
    border: 1px solid black;
}

#memo {
    
}