/* font import */
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* common part */
a {
    text-decoration: none;
    color: black;
}

/* header part */
.header {
    width: 70%;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 1%;
}

.header-login {
    display: block;
    text-align: right;
}

.user-login-box {
    text-align: center;
    padding-right: 10px;
}

h1 {
    font-size: 60px;
    font-family: 'Gugi', cursive;
    display: block;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: 'Gugi', cursive;
    display: block;
    text-align: center;
}

.header-searching {
    text-align: center;
}

.searching-bar {
    height: 25px;
    width: 200px;
    margin: 0 15px 15px 30px;
}

.searching-bt {
    height: 30px;
    vertical-align: middle;
}

.header-sorting {
    text-align: right;
    margin-right: 100px;
}

/* content part */
.content {
    position: relative;
    top: 50px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}