Django==2.2.16
django-appconf==1.0.4
django-imagekit==4.0.2
pilkit==2.0
Pillow==7.2.0
pycurl==7.43.0
pygobject==3.22.0
python-apt==1.4.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
unattended-upgrades==0.1
