{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <title>진중한 독서</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="menu-title" href="{% url 'main' %}">진중한 독서</a></li>

                {% if user.is_authenticated %}
                    <li><a class="menu-right" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a></li>
                    <li><a class="menu-right" href="{% url 'notice' %}">공지사항</a></li>
                    <li><a class="menu-right" href="{% url 'users' %}">마이페이지</a></li>
                    <li><a class="menu-user">{{user.username}} 님, 안녕하세요!</a></li>
                    
                    <form id="logout" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>

                {% else %}
                    <li><a class="menu-right" href="{% url 'login' %}">로그인</a></li>
                    <li><a class="menu-right" href="{% url 'signup' %}">회원가입</a></li>
                    <li><a class="menu-right" href="{% url 'notice' %}">공지사항</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="content">
        <div id="login-form">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input class="login-box" type="text" name="username" placeholder="ID">
                <input class="login-box" type="password" name="password" placeholder="PASSWORD">
                <input type="submit" value="로그인">
            </form>
        </div>
    </div>
</body>
</html>