{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/bt.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <title>진중한 독서</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="menu-title" href="{% url 'main' %}">진중한 독서</a></li>

                {% if user.is_authenticated %}
                    <li><a class="menu-right" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a></li>
                    <li><a class="menu-right" href="{% url 'notice' %}">공지사항</a></li>
                    <li><a class="menu-right" href="{% url 'users' %}">마이페이지</a></li>
                    <li><a class="menu-user">{{user.username}} 님, 안녕하세요!</a></li>
                    
                    <form id="logout" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>

                {% else %}
                    <li><a class="menu-right" href="{% url 'login' %}">로그인</a></li>
                    <li><a class="menu-right" href="{% url 'signup' %}">회원가입</a></li>
                    <li><a class="menu-right" href="{% url 'notice' %}">공지사항</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="content">
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <table id="signup-info">
                <tr class="signup-row">
                    <th class="signup-header">&#x1F4CC 회원 아이디</th>
                    <td class="signup-input"><input type="text" name="username" placeholder="최대 10자"></td>
                </tr>

                <tr class="signup-row">
                    <th class="signup-header">&#x1F4CC 비밀번호</th>
                    <td class="signup-input"><input type="password" name="password" placeholder="최대 15자"></td>
                </tr>

                <tr class="signup-row">
                    <th class="signup-header">&#x1F4CC 비밀번호 확인</th>
                    <td class="signup-input"><input type="password" name="confirm" placeholder="비밀번호 확인"></td>
                </tr>

                <tr class="signup-row">
                    <th class="signup-header">&#x1F4CC 성</th>
                    <td class="signup-input"><input type="text" name="first_name" placeholder="홍"></td>
                </tr>

                <tr class="signup-row">
                    <th class="signup-header">&#x1F4CC 이름</th>
                    <td class="signup-input"><input type="text" name="last_name" placeholder="길동"></td>
                </tr>

                <tr class="signup-row">
                    <th class="signup-header">&#x1F4CC 나라사랑 아이디</th>
                    <td class="signup-input"><input type="text" name="cardname" placeholder="1234567890"> @narasarang.or.kr</td>
                </tr>

                <tr class="signup-row">
                    <th class="signup-header">&#x1F4CC 소속</th>
                    <td class="signup-input">
                        <select name="affiliation" size="1">
                            <option value='0'>선택</option>
                            <option value='1'>육군</option>
                            <option value='2'>해군</option>
                            <option value='3'>공군</option>
                            <option value='4'>해병대</option>
                            <option value='5'>기타</option>
                        </select>
                    </td>
                </tr>
            </table>

            <div class="signup-bt">
                <input class="submit-bt" type="submit" value="확인">
                <input class="submit-bt" type="reset" value="취소">
            </div>
        </form>
    </div>

    <footer>
        <ul>
            <li><a class="team-name" href="https://github.com/osamhack2020/WEB_HeavyReading_Rainy" target="_blank">&#128218 Rainy</a></li>
            <li>
                <a class="team-member" href="https://github.com/Ohjaeyeop" target="_blank">오재엽 (Jaeyeop Oh)</a>
                <span>|</span>
                <a class="team-member" href="https://github.com/HabiJung" target="_blank">정하빈 (Habin Jung)</a>
            </li>
            <li class="copyright">Copyright (c) 2020 Rainy</li>
        </ul>
        <a href="https://osam.kr" target="_blank"><img id="osam-img" src="{% static 'img/osam.png' %}"></a>
    </footer>
</body>
</html>