/* font import */
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/* common part */
a {
    text-decoration: none;
    color: black;
}

/* header part */
.header {
    width: 70%;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 1%;
}

.header-login {
    display: block;
    text-align: right;
}

.user-login-box {
    text-align: center;
    padding-right: 10px;
}

h1 {
    font-size: 60px;
    font-family: 'Gugi', cursive;
    display: block;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: 'Gugi', cursive;
    display: block;
    text-align: center;
}

.header-searching {
    text-align: center;
}

.searching-bar {
    height: 25px;
    width: 200px;
    margin: 0 15px 15px 30px;
}

.searching-bt {
    height: 30px;
    vertical-align: middle;
}

.header-sorting {
    text-align: right;
    margin-right: 100px;
}

/* content part */
.content {
    position: relative;
    top: 50px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* table part */
.table {
    width: 70%;
    margin: 3% auto;
    border: 2px solid #dadada;
    border-radius: .5em;
}

.notice-header {
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

.notice-header::after {
    content: "";
    display: block;
    width: 80%;
    border-bottom: 2px solid #000000;
    margin: 10px auto 0 auto;
}

.notice-body {
    height: 50px;
    text-align: center;
    font-weight: bold;
    padding-left: 20px;
}

.notice-body::after {
    content: "";
    display: block;
    width: 80%;
    border-collapse: collapse;
    border-bottom: 1px solid #dddddd;
    margin: 10px auto 0 auto;
}

#notice-id {
    width: 15%;
}

#notice-title {
    width: 60%;
    margin: auto;
}

/* page bt part */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    margin: 0 auto;
    margin-bottom: 3%;
    padding-left: 0;
    border-radius: 0.25rem;
}

/* notice > detail part */
.notice-detail-header {
    display: block;
    padding-top: 3%;
}

#notice-detail-title {
    font-size: 30px;
    text-align: left;
    padding-left: 100px;
}

#notice-detail-title::after {
    content: "";
    display: block;
    width: 60%;
    border-bottom: 3px solid #000000;
    padding-left: 3%;
    margin: 10px 0;
}

#notice-detail-date {
    padding: 0;
    margin-right: 5%;
    text-align: right;
}

#notice-detail-text::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 2px dotted #555555;
    margin: 10% auto 5% auto;
}

#notice-detail-text {
    width: 80%;
    margin: 5% auto 7% auto;
    font-size: 18px;
    text-align: justify;
}

#notice-list-bt {
    margin: 0 auto;
    margin-bottom: 3%;
    width: 70px;
    height: 30px;
    font-size: 16px;
}