{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>진중한 독서</title>
</head>
<body>
    <div class="header">
        <h1>진중한 독서</h1>
        <form action="">
            <input type="text">
            <input type="submit">
        </form>
    </div>
    
    <div class="content">
        {% block contents %}

        {% endblock %}
    </div>
</body>
</html>