{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>진중한 독서</title>
</head>
<body>
    <div class="user_nav">
        <div id="login_box">
            {% if user.is_authenticated %}
                <p>{{ user.username }}</p>
                <a href="{% url 'users' %}">마이페이지</a>
                <a href="{% url 'notice' %}">공지사항</a>
                <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
                <form id="logout" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="hidden" />
                </form>
            {% else %}
                <a href="{% url 'signup' %}">회원가입</a>
                <a href="{% url 'login' %}">로그인</a>
            {% endif %}
        </div>
    </div>

    <div class="header">
        <h1><a href="{% url 'main' %}">진중한 독서</a></h1>
        <form action="{% url 'search' %}" method="POST">
            <input type="text" name="q" value="{{q}}">
            <input type="submit">
        </form>
    </div>

    <div class="content">
        <p>{{notice.title}}</p>
        <p>{{notice.text}}</p>
    </div>
</body>

</html>