/* font import */
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

/* common part */
a {
    text-decoration: none;
    color: black;
}

/* header part */
.header {
    width: 70%;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 1%;
}

.header-login {
    display: block;
    text-align: right;
}

.user-login-box {
    text-align: center;
    padding-right: 10px;
}

h1 {
    font-size: 60px;
    font-family: 'Gugi', cursive;
    display: block;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: 'Gugi', cursive;
    display: block;
    text-align: center;
}

/* signup.html part */
#signup-info {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}

.signup-row {
    height: 50px;
}

.signup-header {
    text-align: center;
    width: 30%;
    font-size: 20px;
    padding-left: 10%;
}

.signup-input {
    width: 20%;
}

.signup-input > input {
    height: 20px;
    vertical-align: middle;
}

.signup-input > select {
    height: 25px;
    vertical-align: middle;
}

.signup-bt {
    display: block;
    margin: 50px auto;
    text-align: center;
}

.signup-bt > input {
    height: 30px;
    vertical-align: middle;
    margin: auto 20px;
}

/* login.html part */
#login-form {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.login-box {
    display: block;
    height: 25px;
    margin: 2% auto;
}