{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>진중한 독서</title>
</head>
<body>
    <div class="header">
        <h1><a href="{% url 'main' %}">진중한 독서</a></h1>
        <form action="{% url 'search' %}" method="POST">
            <input type="text" name="q" value="{{q}}">
            <input type="submit">
        </form>
    </div>
    
    <div class="content">
        <img src="{{ book.cover_thumbnail.url }}" alt="cover">

    </div>
    <div class="content">
        <form id="report" method="POST" action="{% url 'create' book.id %}">
            {% csrf_token %}
            <input type="text" name="title">
            <br><br>
            <textarea name="text" cols="70" rows="40"></textarea>
            <br>
            <input type="submit" value="작성하기">
        </form>
    </div>

</body>
</html>