{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/rating.css' %}">
    <link rel="stylesheet" href="{% static 'css/creat.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/bt.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <title>진중한 독서</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="menu-title" href="{% url 'main' %}">진중한 독서</a></li>

                {% if user.is_authenticated %}
                    <li><a class="menu-right" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a></li>
                    <li><a class="menu-right" href="{% url 'notice' %}">공지사항</a></li>
                    <li><a class="menu-right" href="{% url 'users' %}">마이페이지</a></li>
                    <li><a class="menu-user">{{user.username}} 님, 안녕하세요!</a></li>
                    
                    <form id="logout" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>

                {% else %}
                    <li><a class="menu-right" href="{% url 'login' %}">로그인</a></li>
                    <li><a class="menu-right" href="{% url 'signup' %}">회원가입</a></li>
                    <li><a class="menu-right" href="{% url 'notice' %}">공지사항</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="header">
        <div class="header-searching">
            <form id="searching-form" action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <input class="searching-bar" type="text" name="q" value="{{q}}">
                <input class="submit-bt" type="submit" value="검색">
            </form>
        </div>
    </div>
    
    <div class="content">
        <div id="book">
            <img src="{{ book.cover_thumbnail.url }}" alt="cover">
            <p id="book-title"> {{book.title}} </p>
        </div>

        <div class="container" style="margin-top: 35px;">
            <div class="grade">
                <p>평점 : </p>
                <p id="book_grade">{{book.grade}}</p>
                <p id="book_count">({{book.count}}명)</p>
            </div>

            <div class="ratings">
                <input type="radio" name="star" id="rating" value="1">
                <input type="radio" name="star" id="rating" value="2">
                <input type="radio" name="star" id="rating" value="3">
                <input type="radio" name="star" id="rating" value="4">
                <input type="radio" name="star" id="rating" value="5">
            </div>
            <p id="mygrade">({{my_grade}})</p>
            <span class="info"></span>
        </div>
        <button class="writing-bt"><a href="{% url 'create_report_page' book.id %}">독후감 작성</a></button>
        <button class="writing-bt"><a href="{% url 'create_memo_page' book.id %}">메모하기</a></button>

    </div>
    <div class="content">
        <form id="create" method="POST" action="{% url 'create_memo' book.id %}">
            {% csrf_token %}
            <!--{{form.as_p}}-->
            <table id="create-table">
                <tbody>
                    <tr>
                        <th>쪽</th>
                        <td><input type="number" name="page" placeholder="숫자를 입력하세요."></td>
                    </tr>
                    <tr>
                        <th>구절</th>
                        <td><textarea id="memo-phrase" name="phrase" cols="60" rows="10" placeholder="자기만의 명언을 남겨주세요. (최대 255자)""></textarea></td>
                    </tr>
                </tbody>
            </table>

            <input class="submit-margin-bt" type="submit" value="작성">
            <input class="submit-margin-bt" type="button" value="취소" onClick="location.href='{% url 'detail' book.id %}'">
        </form>
    </div>
<!--
    <footer>
        <ul>
            <li><a class="team-name" href="https://github.com/osamhack2020/WEB_HeavyReading_Rainy" target="_blank">&#128218 Rainy</a></li>
            <li>
                <a class="team-member" href="https://github.com/Ohjaeyeop" target="_blank">오재엽 (Jaeyeop Oh)</a>
                <span>|</span>
                <a class="team-member" href="https://github.com/HabiJung" target="_blank">정하빈 (Habin Jung)</a>
            </li>
            <li class="copyright">Copyright (c) 2020 Rainy</li>
        </ul>
        <a href="https://osam.kr" target="_blank"><img id="osam-img" src="{% static 'img/osam.png' %}"></a>
    </footer>
-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/rating.js' %}"></script>
    <script>
        $('.ratings').rating(function(vote, event) {
            $.ajax({
                method: 'POST',
                url: "{% url 'rating' book.id %}",
                data: {vote:vote},
                success: function(response) {
                    $("#book_grade").html(response.grade);
                    $("#mygrade").html('(' + response.my_grade + ')');
                    $("#book_count").html('(' + response.count + '명' + ')');
                },
            })
        })
    </script>
</body>
</html>