{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/rating.css' %}">
    <title>진중한 독서</title>
</head>
<body>
    <div class="user_nav">
        <div id="login_box">
            {% if user.is_authenticated %}
                <p>{{ user.username }}</p>
                <a href="{% url 'users' %}">마이페이지</a>
                <a href="{% url 'notice' %}">공지사항</a>
                <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
                <form id="logout" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="hidden" />
                </form>
            {% else %}
                <a href="{% url 'signup' %}">회원가입</a>
                <a href="{% url 'login' %}">로그인</a>
            {% endif %}
        </div>
    </div>
    <div class="header">
        <h1><a href="{% url 'main' %}">진중한 독서</a></h1>
        <form action="{% url 'search' %}" method="POST">
            <input type="text" name="q" value="{{q}}">
            <input type="submit">
        </form>
    </div>
    
    <div class="content">
        <div id="book">
            <img src="{{ book.cover_thumbnail.url }}" alt="cover">
            <p> {{book.title}} </p>

        </div>
        {% if user.is_authenticated %}
            <div class="container" style="margin-top: 35px;">
                <div class="ratings">
                    <input type="radio" name="star" id="rating" value="1">
                    <input type="radio" name="star" id="rating" value="2">
                    <input type="radio" name="star" id="rating" value="3">
                    <input type="radio" name="star" id="rating" value="4">
                    <input type="radio" name="star" id="rating" value="5">
                </div>
                <p>({{book.grade}})</p>
                <span class="info"></span>
            </div>
            <button><a href="{% url 'create_report_page' book.id %}">독후감 작성</a></button>
            <button><a href="{% url 'create_memo_page' book.id %}">메모하기</a></button>
        {% endif %}
        <p class="subtitle">책 소개</p>
        <p>{{book.body}}</p>
        <p class="subtitle">저자</p>
        <p>{{book.author}}</p>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/rating.js' %}"></script>
    <script>
        $('.ratings').rating(function(vote, event) {
            $.ajax({
                method: 'POST',
                url: "{% url 'rating' book.id %}",
                data: {vote:vote},
            })
        })
    </script>
</body>
</html>