{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>진중한 독서</title>
</head>
<body>
    <div class="user_nav">
        <div id="login_box">
            {% if user.is_authenticated %}
                <p>
                    {{ user.username }}
                    <a href="javascript:{document.getElementById('logout').subit()}">로그아웃</a>
                </p>
                <form if="logout" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="hidden">
                </form>
            {% else %}
                <a href="{% url 'signup' %}">회원가입</a>
                <a href="{% url 'login' %}">로그인</a>
            {% endif %}
        </div>
    </div>

    <div class="header">
        <h1>진중한 독서</h1>
        <h2>Heavy Rainy (Reading Assistance) </h2>
    </div>

    <div class="content">
        
    </div>
</body>
</html>