{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <title>진중한 독서</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="menu-title" href="{% url 'main' %}">진중한 독서</a></li>

                {% if user.is_authenticated %}
                    <li><a class="menu-right" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a></li>
                    <li><a class="menu-right" href="{% url 'notice' %}">공지사항</a></li>
                    <li><a class="menu-right" href="{% url 'users' %}">마이페이지</a></li>
                    <li><a class="menu-user">{{user.username}} 님, 안녕하세요!</a></li>
                    
                    <form id="logout" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>

                {% else %}
                    <li><a class="menu-right" href="{% url 'login' %}">로그인</a></li>
                    <li><a class="menu-right" href="{% url 'signup' %}">회원가입</a></li>
                    <li><a class="menu-right" href="{% url 'notice' %}">공지사항</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <div class="header">        
        <div class="header-searching">
            <form id="searching-form" action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <input class="searching-bar" type="text" name="q" value="{{q}}">
                <input class="searching-bt" type="submit" value="검색">
            </form>
        </div>

        <div class="header-sorting">
            <select id="sort" onchange="location = this.value;">
                <option class="date" value="/">최신순</option>
                <option class="reverse" value="?sort=reverse">오래된순</option>
                <option class="grade" value="?sort=grade">평점순</option>
            </select>
        </div>
    </div>
    
    <div class="content">
        {% for book in books.all %}
            <div id="booklist" OnClick="location.href='{% url 'detail' book.id %}'">
                <img src="{{ book.cover_thumbnail.url }}" alt="cover">
                <p id="booklist-title">{{book.title}}</p>
                <p> <img src="{% static 'img/star_icon.png' %}" alt="star_icon" width="16px" height="16px"> {{book.grade}} ({{book.count}}명) </p>
            </div>
        {% endfor %}
    </div>
</body>
</html>