{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>진중한 독서</title>
</head>
<body>
    <h3>읽고싶은 책을 신청하세요!</h3>
    <div>
        <form action="{% url 'submit_survey' %}" method="POST">
            {% csrf_token %}
            <p>책 제목 : </p><input class="searching-bar" type="text" name="title">
            <p>저자 : </p><input class="searching-bar" type="text" name="author">
            <input class="searching-bt" type="submit">
        </form>
    </div>
    {% for message in messages %}
        <p>{{message.message}}</p>
    {% endfor %}
</body>

</html>