.writing-bt {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: auto 20px;
    margin-top: 30px;
}

#create-table {
    margin: 20px auto;
    margin-bottom: 50px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

#create-table > tbody > tr > th {
    text-align: center;
    padding: 20px 100px;
}

#create-table > tbody > tr > td {
    text-align: left;
}

#create-title {
    width: 300px;
    height: 20px;
}

#create-checkbox {
    width: 18px;
    height: 18px;
    margin: 0;
}