/* font import */
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* common part */
a {
    text-decoration: none;
    color: black;
}


/* header part */
.header {
    width: 70%;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 1%;
}

.header-login {
    display: block;
    text-align: right;
}

.user-login-box {
    text-align: center;
    padding-right: 10px;
}

h1 {
    font-size: 60px;
    font-family: 'Gugi', cursive;
    display: block;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: 'Gugi', cursive;
    display: block;
    text-align: center;
}

.header-searching {
    text-align: center;
}

.searching-bar {
    height: 25px;
    width: 200px;
    margin: 0 15px 15px 30px;
}

.searching-bt {
    height: 30px;
    vertical-align: middle;
}

.header-sorting {
    text-align: right;
    margin-right: 100px;
}

/* content part */
.content {
    position: relative;
    top: 50px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* main.html > booklist part */
#booklist {
    float: left;
    margin: 0 2% 4% 4%;
    cursor: pointer;
    width: 280px;
    text-align: center;
}

#booklist::before {
    content: "";
    display: block;
    width: 90%;
    border-top: 2px solid #2e2e2e;
    margin: 5px auto;
}

#booklist::after {
    content: "";
    display: block;
    width: 90%;
    border-top: 2px solid #2e2e2e;
    margin: 5px auto;
}

#booklist > img {
    margin-bottom: 4%;
}

#booklist > p {
    margin-top: 1%;
}

#booklist-title::before {
    content: "";
    display: block;
    width: 90%;
    border-top: 1px dashed #5a5a5a;
    margin: 0 auto;
    margin-bottom: 15px;
}

/* detail.html > book part */
#book > img{
    margin-bottom: 2%;
}

#book p{
    margin: 0%;
}

.content .subtitle {
    background-color: #e9e9e9;
    border-radius: 10px;
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    width: 30%;
    margin: 5% auto 0 auto;
}

.content .subtitle-author {
    width: 70%;
    margin: 2% auto 0 auto;
    font-size: 20px;
}

.content .subtitle-body {
    width: 70%;
    margin: 2% auto 5% auto;
    text-align: justify;
    line-height: 2em;
    font-size: 18px;
}

.ratings {
    /*float: left;*/
    display: inline-block;
    padding-bottom: 5px;
    margin-right: 0.5%;
    text-align: center;
    vertical-align: middle;
}

.container p {
    display: inline-block;
    font-family: 'Jua', sans-serif;
    font-size: 25px;
    font-weight: bold;
    vertical-align: middle;
}

/* detail.html */
#book > p {
    font-family: 'Jua', sans-serif;
    font-size: 40px;
}

#book::before {
    content: "";
    display: block;
    width: 20%;
    border-top: 2px solid #2e2e2e;
    margin: 5px auto;
}

#book::after {
    content: "";
    display: block;
    width: 20%;
    border-top: 2px solid #2e2e2e;
    margin: 5px auto;
}

#book-title::before {
    content: "";
    display: block;
    width: 20%;
    border-top: 1px dashed #5a5a5a;
    margin: 0 auto;
    margin-bottom: 15px;
}