/* font import */
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

/* common part */
.header {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1%;
}

a {
    text-decoration: none;
    color: black;
}


/* header part */
h1 {
    font-size: 50px;
    font-family: 'Gugi', cursive;
    display: block;
    text-align: center;
}

#searching-form {
    width: 300px;
    margin-right: 10px;
    display: inline-block;
}
.searching-bar {
    display: inline-block;
    margin-left: 3%;
}

#sort {
    display: inline-block;
    margin-left: 5%;
}

.header-searching {
    width: 500px;
    display: inline-block;
    text-align: left;
}

#login-box {
    width: 20%;
    display: inline-block;
    text-align: right;
}


/* content part */
.content {
    position: relative;
    top: 50px;
    width: 70%;
    margin: 0 auto;
}

#booklist {
    float: left;
    margin: 1% 1% 1% 0%;
    cursor: pointer;
    width: 280px;
}

#booklist p{
    margin: 0%;
}

#book>img{
    margin-bottom: 1%;
}

#book p{
    margin: 0%;
}

.content .subtitle {
    font-weight: bold;
    font-size: 20px;
    margin-top: 6%;
}

#create {
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.ratings {
    float: left;
    margin-right: 0.5%;
}

.container p {
    vertical-align: middle;
}