{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'mypage/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <title>진중한 독서</title>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="menu-title" href="{% url 'main' %}">진중한 독서</a></li>

                {% if user.is_authenticated %}
                    <li><a class="menu-right" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a></li>
                    <li><a class="menu-right" href="{% url 'notice' %}">공지사항</a></li>
                    <li><a class="menu-right" href="{% url 'users' %}">마이페이지</a></li>
                    <li><a class="menu-user">{{user.username}} 님, 안녕하세요!</a></li>
                    
                    <form id="logout" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>

                {% else %}
                    <li><a class="menu-right" href="{% url 'login' %}">로그인</a></li>
                    <li><a class="menu-right" href="{% url 'signup' %}">회원가입</a></li>
                    <li><a class="menu-right" href="{% url 'notice' %}">공지사항</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <h2>메모</h2>
    
    {% for col in memos %}
        <div class="memo-content">
            {% for row in col %}
                    <div class="rgyPostIt">
                        <p>{{row.phrase}}</p>
                        <p>{{row.book.author}} - {{row.book.title}}</p> 
                        <p>{{row.page}}p</p>
                    </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>